# Functions

In [1]:
def function():
    print("It's Done")

In [2]:
function()

It's Done

In [8]:
def number_square(number):
    print(number*2)

In [9]:
number_square(6)

12

In [6]:
def number_square_1(number, power): # orbitary argument
    print(number**power)

In [7]:
number_square_1(5, 4)

625

In [15]:
args_tuple = (5,6,1,2,8)
def number_args(*number):
    print(number[0]*number[1])

In [16]:
number_args(*args_tuple)

30

In [18]:
def number_square_2(number, power):
    print(number**power)

In [20]:
number_square_2(power = 5,number = 3)

243

In [21]:
def number_key(**number):  # Orbitary keyword argument
    print('My number is: ' + number['integer'] + ' My other number is: ' + number['integer2'])

In [22]:
number_key(integer = '12345', integer2 = '67890')

My number is: 12345 My other number is: 67890